<div class="l-projects l-projects_shadow">
<h2 class="b-head b-head_blogs">
  <a class="b-head__link" href="http://blogs.sputnik.ru/">Блоги</a>
</h2>
<% unless results.blank? %>
  <% results.each do |result| %>
    <a href="<%= result[:url].text %>"><%= result[:title].text.html_safe %></a>
    <br /><%= result[:snippet].text.html_safe %>
    <br /><%= result[:datetime].text.html_safe %>
    <br />
    <br>
  <% end %>
<% else %>
  <%= render :partial => "page_no_results" %>
<% end %>
<h2 class="b-head b-head_blogs">
  <input type="button" value="Назад" class="backButton">
</h2>
</div>
