<% content_for :javascript do %>
<% end %>


<% content_for :content do %>
  <% if @section_code == "2223" %>
    <p>2223</p>
        <% @results.each do |r| %>

    
            <a href="<%= r[:url].text %>"><%= r[:title].text %></a>
    
        <% end %>
    
  <% elsif @section_code == "31" %>
          <% @results.each do |r| %>
              <a href="<%= r[:url].text %>"><%= r[:title].text %></a>
          <% end %>
          <p>31</p>
    
  <% elsif @section_code == "16" %>
    <p>16</p>
  <% elsif @section_code == "17" %>
    <p>17</p>
  <% elsif @section_code == "18" %>
    <p>18</p>
  <% else %>
    <p><%= @section_code %> 12345678</p>
  <% end %>
<% end %>



<%= render :template => 'layouts/application' %>
