<% content_for :javascript do %>
<% end %>


<% content_for :content do %>
  <% if @section_code == "2223" %>
    <div class="b-project b-project_news">
    	<ol class="b-output">
        <% @i=1 %>
	      <% @results.each do |r| %>
    			<li class="b-output__item">
    				<label style="color:silver;size:16px;">#<%= @i %></label>&nbsp;&nbsp;<a style="underline:none;" href="<%= r[:url].text %>"><%= r[:title].text %></a><br>
    			</li>
          <% @i=@i+1 %>
    		<% end %>
		  </ol>
	  </div>
	
  
  <% elsif @section_code == "31" %>
    <div class="b-project b-project_news">
      <ol class="b-output">
        <% @results.each do |r| %>
          <a href="<%= r[:url].text %>"><%= r[:title].text %></a>
        <% end %>
      </ol>
    </div>

  <% elsif @section_code == "16" %>
    <p>16</p>

  <% elsif @section_code == "17" %>
    <p>17</p>

  <% elsif @section_code == "18" %>
    <p>18</p>

  <% else %>
    <p><%= @section_code %> 12345678</p>

  <% end %>
<% end %>



<%= render :template => 'layouts/application' %>
