<!DOCTYPE html>
<html>
<head>
  <title>Спутник</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  <!--[if !IE]> -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :javascript %>
  <!-- <![endif]-->
</head>
<!--[if !IE]> -->
<body>
  <%= yield(:content) %>
</body>
<!-- <![endif]-->
<!--[if IE]>
<body bgcolor="#373A43" text="#FFFFFF" link="#00FFFF" vlink="#00FFFF" alink="#00FFFF">
  <p align="center">
    <img src="/assets/ie.png" alt="Don't Use IE" width="275" height="275"/><br>
    <font color="#FF3333" face="tahoma,sans-serif" size="+2">
      Данная страница не может быть отображена, так как Вы используете устаревшую версию Internet Explorer.
    </font><br><br>
    <font face="tahoma,sans-serif" size="+1">
      Вы можете
      <a href="http://sputnik.ru/">перейти к стандартной версии сайта</a>
      или воспользоваться одним из браузеров:
    </font>
  </p>
  <table align="center">
    <tbody>
      <tr align="center">
        <td>
          <a href="http://www.mozilla.org/ru/firefox/fx/"><img src="/assets/ff.png" alt="Mozilla Firefox" width="275" height="275" border="0" /></a>
          <br><font face="tahoma,sans-serif" size="+1"><a href="http://www.mozilla.org/ru/firefox/fx/">Mozilla Firefox</a></font>
        </td>
        <td>
          <a href="http://www.google.com/intl/ru/chrome/"><img src="/assets/ch.png" alt="Google Chrome" width="275" height="275" border="0" /></a>
          <br><font face="tahoma,sans-serif" size="+1"><a href="http://www.google.com/intl/ru/chrome/">Google Chrome</a></font>
        </td>
        <td>
          <a href="http://www.opera.com/download/"><img src="/assets/op.png" alt="Opera" width="275" height="275" border="0" /></a>
          <br><font face="tahoma,sans-serif" size="+1"><a href="http://www.opera.com/download/">Opera</a></font>
        </td>
      </tr>
    </tbody>
  </table>
</body>
<![endif]-->
</html>
