<!DOCTYPE html>
<html>
<head>
  <title>Спутник</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  <!--[if !IE]> -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :javascript %>
  <!-- <![endif]-->
</head>
<!--[if !IE]> -->
<body>
  <%= yield(:content) %>
</body>
<!-- <![endif]-->
<!--[if IE]>
<body bgcolor="#373A43" text="#FFFFFF" link="#FFFFFF" vlink="#CCFFFF" alink="#CCFFFF">
  <h2 align="center">
    <img src="/assets/ie.png" alt="Don't Use IE" width="405" height="405"/><br>
    Для просмотра этого веб-сайта скачайте и установите любой из браузеров:<br>
    <a href="http://www.mozilla.org/ru/firefox/fx/"><img src="/assets/ff.png" alt="Mozilla Firefox" width="275" height="275" border="0" /></a>
    <a href="http://www.google.com/intl/ru/chrome/"><img src="/assets/ch.png" alt="Google Chrome" width="275" height="275" border="0" /></a>
    <a href="http://www.opera.com/download/"><img src="/assets/op.png" alt="Opera" width="275" height="275" border="0" /></a><br>
    …или перейдите по
    <a href="http://sputnik.ru/">этой ссылке</a>.
  </h2>
</body>
<![endif]-->
</html>
